@import "typography";

.kanban {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 20px;
	width: 620px;
	margin-left: auto;
	margin-right: auto;
//	min-width: 620px;
//	background: #009578;
//	border-radius: 5px;
}

.kanban__column {
	margin: 0 auto;
	width: 25%;
	min-width: 280px;
	border: solid 3px black;
	margin-bottom: 20px;
}

//.kanban__column:not(:last-child) {
//	margin-right: 30px;
//}

.kanban__column-title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	color: black;
	user-select: none;
}

.kanban__item-input {
	padding: 10px 15px;
	font-size: 10px;
	box-sizing: border-box;
	background: white;
//	border-radius: 5px;
	cursor: pointer;
}

.kanban__dropzone {
	height: 10px;
	transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
	height: 20px;
	background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
	width: 100%;
	padding: 10px 0;
	font-size: 12px;
	color: black;
	background: rgba(0, 0, 0, 0.1);
	border: none;
//	border-radius: 5px;
	cursor: pointer;
}