@import "typography", "menu", "planner", "stopwatch";

a {
  text-decoration: none;
  color: black;
}
  
a :hover{
  background-color: black;
  border: 3px solid black;
  color: white;
  //text-align: center;
  //padding-top: 20px;
  //padding-bottom: 280px;
  font-size: 30px;
  text-align: center;
  transition-duration: 0.3s;
}