//Add new task banner
h5 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.25rem;
    margin-top: 20px;
    text-align: center;
    background: #f0d89f;
    color: black;
    min-width: 500px;
    font-weight: 700;
  }