@import "typography", "spotify";

#togglePlay {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    //font-weight: 700;
    background-color: #1DB954;
    color: black;
    border: solid black 3px;
    text-align: center;
  }
  
  #togglePlay:hover{
    background-color: black;
    color: #1DB954;
    transition-duration: 0.3s;
  }