//.music h6 {
//  padding-top: 10px;
//  padding-bottom: 10px;
//  font-size: 30px;
//  font-weight: 700;
//  background-color: #1DB954;
//  color: black;
//  border: solid black 3px;
//  text-align: center;
//}

//music a {
//  text-decoration: none;
//}

//.music :hover {
//  background-color: black;
//  color: #1DB954;
//  transition-duration: 0.3s;
//}

#togglePlay {
    margin-top: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    //font-weight: 700;
    background-color: #1DB954;
    color: black;
    border: solid black 3px;
    text-align: center;
  }
  
  #togglePlay:hover{
    background-color: black;
    color: #1DB954;
    transition-duration: 0.3s;
  }