//stopwatch codes from https://jsfiddle.net/2vwcd3a8/ written by 'HARSH VATS', Mar. 7th, 2021
//source found on discussion below https://dev.to/gspteck/create-a-stopwatch-in-javascript-2mak

@import "typography";

.container {
  margin-top: 200px;
  padding: auto;
  text-align: center;
  justify-content: center;
  align-content: center;
}
  
#time {
  font-size: 75pt;
}
  
.btns-container {
  margin: 10px 0;
}
  
#start_btn {
  background: #f0d89f;
  padding: 10px, 10px;
  height: 50px;
  width: 100px;
}

#pause_btn {
  background: #f0d89f;
  display: none;
  height: 50px;
  width: 100px;
}

#reset_btn {
  background: black;
  color: white;
  display: none;
  height: 50px;
  width: 100px;
}